:root{
  --base-color: white;
  --base-variant: #e4dddd;
  --text-color: #120d0d;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
  --border: 2px solid #000000;
}
.darkmode{
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --secondary-text: #dfdfe7;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
  --border: 2px solid white;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: Poppins;
}
body{
  min-height: 100vh;
  background-color: var(--base-color);
  color: var(--text-color);
}
header, section{
  padding: 70px min(50px, 7%);
}
section{
  background-color: var(--base-variant);
}
p{
  margin: 10px 0 20px 0;
  color: var(--secondary-text);
}
button{
  border: none;
  padding: .8em 2em;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 4px;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.cta-button{
  background-color: var(--accent-color);
}
.masonry {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--item-width, 200px), 100%), 1fr)
  );
  grid-template-rows: masonry;
  gap: 1rem;
  grid-auto-flow: dense;

  > *,
  > astro-slot > * {
    align-self: start;
    grid-column-end: span var(--span, 1);
  }
}

.box {
  display: flex; 
  flex-flow: column;
  position: relative;
  gap: 1rem;
  border: var(--border); 
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--base-color);
  background-repeat: no-repeat;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.box:hover {
  transform: translateY(-5px);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
img {
  display: block; 
  max-width: 100%;
}
#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}
#theme-switch svg{
  fill: var(--primary-color);
}
#theme-switch svg:last-child{
  display: none;
}
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}


                              
                