:root{
  --base-color: white;
  --base-variant: #e4dddd;
  --text-color: #120d0d;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
  --border: 2px solid #000000;
  --gredient: rgb(25, 21, 21, 0.3);
}
.darkmode{
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --secondary-text: #dfdfe7;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
  --border: 2px solid white;
  --gredient: rgba(255, 255, 255, 0.3);
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: Poppins;
}
body{
  min-height: 100vh;
  background-color: var(--base-color);
  color: var(--text-color);
}
header, section{
  padding: 70px min(50px, 7%);
}
section{
  background-color: var(--base-variant);
}
h3{
  margin: 5px 170px 30px 0px;
  color: var(--text-color);
}

button{
  border: none;
  padding: .8em 2em;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 4px;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.cta-button{
  background-color: var(--accent-color);
}

#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}
#theme-switch svg{
  fill: var(--primary-color);
}
#theme-switch svg:last-child{
  display: none;
}
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}

.masonry {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--item-width, 200px), 100%), 1fr)
  );
  grid-template-rows: masonry;
  gap: 1rem;
  grid-auto-flow: dense;

  > *,
  > astro-slot > * {
    align-self: start;
    grid-column-end: span var(--span, 1);
  }
}

img {
  display: block; 
  max-width: 100%;
}

.box {
  position: relative; 
  display: flex; 
  flex-flow: column;
  gap: 1rem;
  border: var(--border); 
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--base-color);
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    100deg,
    transparent 20%,
    var(--gredient) 50%,
    transparent 80%
  );
  transform: translateX(-100%);
}

.box:hover::before {
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer{
  0%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(300%);
  }
}







