<!DOCTYPE html>
<html>
  <head>
    <title>Pony Market</title>
    <style>
      h1{
        font-size: 40px;
        font-family: Equestria_Cyrillic;
        font-weight: normal;
        text-align: center;
        }   
          #banner {
          width: 100%;
          height: 600px;
          object-fit: cover;
          }  
        #container{
          max-width: 720px;
          margin: 0 auto 0 auto;
             
          }
    </style>
  </head>
  <body>
    <div id='container'>
      <img id= "banner" src= "https://da713160-fb20-4f22-b770-d709031c90a7-00-13v1sgf2rxf6n.pike.replit.dev/static/background.png" >
      <h1>Pony Market</h1>
      <h2>About Pony Market</h2>
        <p>Pony Market is a website where you can sell and buy ponies</p>
      <h2>Ponies</h2>
      <p>To do ponies</p>
      <div style="text-align:center;">
        <button>Contact us</button>
      </div>
    </div>
  </body>
</html>